.article-container{
    margin: 20px auto;
    max-width: 1120px;
    background: #f6f6ef;
    padding: 12px 10px 8px 8px;
    .hacker-heading {
        background-color: rgb(255, 102, 0);
        padding: 3px;
        font-weight: 500;
    }
    .articles-wrapper {
        padding: 10px;
    }
    .bold-class{
        font-weight: 500;
    }

}